In [2]:
import pandas as pd
import numpy as np


customers = pd.read_csv(
    "../01_ecommerce_ops_analytics/data/raw/customers.csv"
)


customers.head()
customers.info()
customers.isna().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75 entries, 0 to 74
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customer_id       75 non-null     int64
 1   first_name        75 non-null     object
 2   last_name         75 non-null     object
 3   email             75 non-null     object
 4   phone             75 non-null     object
 5   city              75 non-null     object
 6   state             75 non-null     object
 7   postal_code       75 non-null     int64
 8   country           75 non-null     object
 9   signup_date       75 non-null     object
 10  last_order_date   67 non-null     object
 11  total_orders      75 non-null     int64
 12  total_spent       75 non-null     float64
 13  marketing_opt_in  75 non-null     bool
 14  segment           75 non-null     object
dtypes: bool(1), float64(1), int64(3), object(10)
memory usage: 8.4+ KB

customer_id         0
first_name          0
last_name           0
email               0
phone               0
city                0
state               0
postal_code         0
country             0
signup_date         0
last_order_date     8
total_orders        0
total_spent         0
marketing_opt_in    0
segment             0
dtype: int64

In [3]:
customers.columns = (
    customers.columns
    .str.strip()
    .str.lower()
    .str.replace(" ", "_")
)

In [4]:
customers["signup_date"] = pd.to_datetime(customers["signup_date"], errors="coerce")
customers["last_order_date"] = pd.to_datetime(customers["last_order_date"], errors="coerce")

In [5]:
str_cols = customers.select_dtypes(include="object").columns
customers[str_cols] = customers[str_cols].apply(lambda col: col.str.strip())

In [6]:
customers["total_orders"] = pd.to_numeric(customers["total_orders"], errors="coerce").astype("Int64")
customers["total_spent"]  = pd.to_numeric(customers["total_spent"], errors="coerce")

In [7]:
customers["phone"] = customers["phone"].astype(str).str.replace(r"\D", "", regex=True)

In [8]:
customers.to_csv(
    "../01_ecommerce_ops_analytics/data/processed/customers_cleaned.csv", 
    index=False
)

In [107]:
customers = pd.read_csv("../01_ecommerce_ops_analytics/data/processed/customers_cleaned.csv")
customers.head()
customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75 entries, 0 to 74
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customer_id       75 non-null     int64
 1   first_name        75 non-null     object
 2   last_name         75 non-null     object
 3   email             75 non-null     object
 4   phone             75 non-null     int64
 5   city              75 non-null     object
 6   state             75 non-null     object
 7   postal_code       75 non-null     int64
 8   country           75 non-null     object
 9   signup_date       75 non-null     object
 10  last_order_date   67 non-null     object
 11  total_orders      75 non-null     int64
 12  total_spent       75 non-null     float64
 13  marketing_opt_in  75 non-null     bool
 14  segment           75 non-null     object
dtypes: bool(1), float64(1), int64(4), object(9)
memory usage: 8.4+ KB

In [10]:
import sqlite3

conn = sqlite3.connect(
    "../01_ecommerce_ops_analytics/data/processed/ecommerce_ops.db")

In [11]:
customers.to_sql(
    "customers",      
    conn, 
    if_exists="replace",  
)

75

In [12]:
inventory = pd.read_csv("../01_ecommerce_ops_analytics/data/raw/inventory.csv")

In [13]:
inventory.columns = (
    inventory.columns
    .str.strip()
    .str.lower()
    .str.replace(" ", "_")
    
)

In [14]:
inventory["last_restock_date"] = pd.to_datetime(inventory["last_restock_date"], errors="coerce")

In [15]:
inventory.dtypes

product_id                    int64
on_hand                       int64
reorder_point                 int64
last_restock_date    datetime64[ns]
dtype: object

In [16]:
str_cols = inventory.select_dtypes(include="object").columns
inventory[str_cols] = inventory[str_cols].apply(lambda col: col.str.strip())
print("After load:", inventory.dtypes)

After load: product_id                    int64
on_hand                       int64
reorder_point                 int64
last_restock_date    datetime64[ns]
dtype: object

In [17]:
inventory["product_id"] = pd.to_numeric(inventory["product_id"], errors="coerce").astype("Int64")
inventory["on_hand"] = pd.to_numeric(inventory["on_hand"], errors="coerce").astype("Int64")
inventory["reorder_point"] = pd.to_numeric(inventory["reorder_point"], errors="coerce").astype("Int64")
print("After load:", inventory.dtypes)

After load: product_id                    Int64
on_hand                       Int64
reorder_point                 Int64
last_restock_date    datetime64[ns]
dtype: object

In [18]:
inventory.to_csv(
    "../01_ecommerce_ops_analytics/data/processed/inventory_cleaned.csv", 
    index=False
)
print("After load:", inventory.dtypes)

After load: product_id                    Int64
on_hand                       Int64
reorder_point                 Int64
last_restock_date    datetime64[ns]
dtype: object

In [19]:
inventory = pd.read_csv(
    "../01_ecommerce_ops_analytics/data/processed/inventory_cleaned.csv"
)

inventory.head()
inventory.info()
print("After load:", inventory.dtypes)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   product_id         120 non-null    int64
 1   on_hand            120 non-null    int64
 2   reorder_point      120 non-null    int64
 3   last_restock_date  120 non-null    object
dtypes: int64(3), object(1)
memory usage: 3.9+ KB
After load: product_id            int64
on_hand               int64
reorder_point         int64
last_restock_date    object
dtype: object

In [20]:
import pandas as pd

inventory = pd.read_csv(
    "../01_ecommerce_ops_analytics/data/processed/inventory_cleaned.csv"
)

inventory.head()
inventory.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   product_id         120 non-null    int64
 1   on_hand            120 non-null    int64
 2   reorder_point      120 non-null    int64
 3   last_restock_date  120 non-null    object
dtypes: int64(3), object(1)
memory usage: 3.9+ KB

In [21]:
import sqlite3

conn = sqlite3.connect(
    "../01_ecommerce_ops_analytics/data/processed/ecommerce_ops.db")

In [22]:
inventory.to_sql(
    "inventory",     
    conn, 
    if_exists="replace",  
    index=False
)

120

In [23]:
inventory.head()
inventory.info()
inventory.isna().sum()
inventory.duplicated().sum()   
inventory["product_id"].is_unique
(inventory[["on_hand", "reorder_point"]] < 0).sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   product_id         120 non-null    int64
 1   on_hand            120 non-null    int64
 2   reorder_point      120 non-null    int64
 3   last_restock_date  120 non-null    object
dtypes: int64(3), object(1)
memory usage: 3.9+ KB

on_hand          0
reorder_point    0
dtype: int64

In [24]:
import pandas as pd
import numpy as np


orders = pd.read_csv(
    "../01_ecommerce_ops_analytics/data/raw/orders.csv"
)


orders.head()
orders.info()
orders.isna().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   order_id     3000 non-null   int64
 1   customer_id  3000 non-null   int64
 2   order_date   3000 non-null   object
 3   status       3000 non-null   object
dtypes: int64(2), object(2)
memory usage: 93.9+ KB

order_id       0
customer_id    0
order_date     0
status         0
dtype: int64

In [25]:
orders = pd.read_csv("../01_ecommerce_ops_analytics/data/raw/orders.csv")

In [26]:
orders.columns = (
    orders.columns
    .str.strip()
    .str.lower()
    .str.replace(" ", "_")
)

In [27]:
orders ["order_date"] = pd.to_datetime(orders["order_date"], errors= "coerce")

print ("After load:", orders.dtypes)

After load: order_id                int64
customer_id             int64
order_date     datetime64[ns]
status                 object
dtype: object

In [28]:
str_cols = orders.select_dtypes(include="object").columns
orders[str_cols] = orders[str_cols].apply(lambda col: col.str.strip())

print ("After load:", orders.dtypes)

After load: order_id                int64
customer_id             int64
order_date     datetime64[ns]
status                 object
dtype: object

In [29]:
orders["order_id"].is_unique

True

In [30]:
orders.to_csv(
    "../01_ecommerce_ops_analytics/data/processed/orders_cleaned.csv",), 
Index = False

print ("After load:", orders.dtypes)

After load: order_id                int64
customer_id             int64
order_date     datetime64[ns]
status                 object
dtype: object

In [31]:
orders = pd.read_csv(
    "../01_ecommerce_ops_analytics/data/processed/orders_cleaned.csv"
)

orders.head()
orders.info()

print ("After load:", orders.dtypes)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   3000 non-null   int64
 1   order_id     3000 non-null   int64
 2   customer_id  3000 non-null   int64
 3   order_date   3000 non-null   object
 4   status       3000 non-null   object
dtypes: int64(3), object(2)
memory usage: 117.3+ KB
After load: Unnamed: 0      int64
order_id        int64
customer_id     int64
order_date     object
status         object
dtype: object

In [32]:
import pandas as pd
import numpy as np

orders = pd.read_csv(
    "../01_ecommerce_ops_analytics/data/processed/orders_cleaned.csv"
)

orders.head()
orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   3000 non-null   int64
 1   order_id     3000 non-null   int64
 2   customer_id  3000 non-null   int64
 3   order_date   3000 non-null   object
 4   status       3000 non-null   object
dtypes: int64(3), object(2)
memory usage: 117.3+ KB

In [33]:
import sqlite3

conn = sqlite3.connect(
    "../01_ecommerce_ops_analytics/data/processed/ecommerce_ops.db")

In [34]:
orders.to_sql(
    "orders",     
    conn, 
    if_exists="replace",  
    index=False
)

3000

In [35]:
orders.head()
orders.info()
orders.isna().sum()
orders.duplicated().sum()   
orders["order_id"].is_unique

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   3000 non-null   int64
 1   order_id     3000 non-null   int64
 2   customer_id  3000 non-null   int64
 3   order_date   3000 non-null   object
 4   status       3000 non-null   object
dtypes: int64(3), object(2)
memory usage: 117.3+ KB

True

In [36]:
import pandas as pd
import numpy as np


order_items = pd.read_csv(
    "../01_ecommerce_ops_analytics/data/raw/order_items.csv"
)


order_items.head()
order_items.info()
order_items.isna().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9127 entries, 0 to 9126
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   order_id    9127 non-null   int64
 1   product_id  9127 non-null   int64
 2   quantity    9127 non-null   int64
 3   unit_price  9127 non-null   float64
 4   discount    9127 non-null   float64
dtypes: float64(2), int64(3)
memory usage: 356.7 KB

order_id      0
product_id    0
quantity      0
unit_price    0
discount      0
dtype: int64

In [37]:
order_items = pd.read_csv("../01_ecommerce_ops_analytics/data/raw/order_items.csv")

In [38]:
order_items.columns = (
    order_items.columns
    .str.strip()
    .str.lower()
    .str.replace(" ", "_")
)

In [39]:
str_cols = order_items.select_dtypes(include ="object").columns
order_items[str_cols] = order_items[str_cols].apply(lambda col: col.str.strip)

In [96]:
order_items["unit_price"] = pd.to_numeric(order_items["unit_price"], errors="coerce").astype("Float64")
order_items["discount"] = pd.to_numeric(order_items["discount"], errors="coerce").astype("Float64")
order_items["quantity"] = pd.to_numeric(order_items["quantity"], errors="coerce").astype("Int64")

In [41]:

order_items = order_items.drop_duplicates(subset=["order_id"]) 
order_items = order_items.drop_duplicates(subset=["product_id"])

order_items.duplicated().sum()

np.int64(0)

In [42]:

order_items["order_id"].unique()

array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  12,  13,  14,  15,
        16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,  27,  28,
        29,  30,  31,  32,  33,  34,  35,  37,  38,  40,  41,  42,  44,
        45,  46,  49,  51,  52,  54,  56,  58,  60,  61,  62,  63,  64,
        65,  68,  69,  71,  73,  74,  77,  78,  80,  81,  82,  83,  85,
        89,  92,  93, 104, 108, 109, 115, 118, 120, 121, 124, 126, 128,
       129, 130, 135, 137, 139, 142, 146, 147, 153, 155, 160, 164, 171,
       179, 195, 198, 200, 201, 209, 213, 222, 226, 228, 230, 231, 234,
       238, 241, 242, 249, 256, 275, 318, 322, 323, 332, 338, 342, 343,
       356, 413, 425])

In [43]:
order_items["product_id"].unique()

array([112,  24,   5,  30, 120,  48,  90,  31,   1,  16,  70,  79,   9,
        68,  91,  71,  47,  99, 107,  45,  69,  62,  94, 111,   7,  37,
        67,  87,  75,  41, 117,  89,   6,  42,   2, 110,  39,  82,  92,
        93,  53,  32,  81,  61,  28,   3, 108,  35,  49, 116, 119,  43,
        56,  36,  57,   4, 102,  15,  74,  77,  72,  63,  22, 106,  18,
       113,  83,  12,  98,  10,  58, 101,  44,  84, 118, 115,  27,  11,
        88,  26,  65,  66,  25,  29,  40,  46,  34, 103, 109,  78,  85,
        38,  13,  21,  59,  33,  54, 100,  50,   8,  73, 105,  14,  96,
        23,  52,  86,  20, 114,  51,  97,  76,  80,  64,  17,  55,  95,
        60,  19, 104])

In [44]:
order_items[["order_id"]]

      order_id
0            1
5            2
8            3
13           4
17           5
...        ...
1045       342
1049       343
1092       356
1268       413
1309       425

[120 rows x 1 columns]

In [45]:
order_items.quantity >= 1

0       True
5       True
8       True
13      True
17      True
        ...
1045    True
1049    True
1092    True
1268    True
1309    True
Name: quantity, Length: 120, dtype: boolean

In [98]:
order_items.to_csv(
    "../01_ecommerce_ops_analytics/data/processed/order_items_cleaned.csv", 
    index=False
)

print("After load:", order_items.dtypes)

After load: order_id        int64
product_id      int64
quantity        Int64
unit_price    Float64
discount      Float64
dtype: object

In [99]:
order_items= pd.read_csv(
    "../01_ecommerce_ops_analytics/data/processed/order_items_cleaned.csv"
)

order_items.head()
order_items.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   order_id    120 non-null    int64
 1   product_id  120 non-null    int64
 2   quantity    120 non-null    int64
 3   unit_price  120 non-null    float64
 4   discount    120 non-null    float64
dtypes: float64(2), int64(3)
memory usage: 4.8 KB

In [100]:
import pandas as pd
import numpy as np

order_items = pd.read_csv(
    "../01_ecommerce_ops_analytics/data/processed/order_items_cleaned.csv")

order_items.head()
order_items.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   order_id    120 non-null    int64
 1   product_id  120 non-null    int64
 2   quantity    120 non-null    int64
 3   unit_price  120 non-null    float64
 4   discount    120 non-null    float64
dtypes: float64(2), int64(3)
memory usage: 4.8 KB

In [101]:
import sqlite3

conn = sqlite3.connect(
    "../01_ecommerce_ops_analytics/data/processed/ecommerce_ops.db")

In [102]:
order_items.to_sql(
    "order_items",     
    conn, 
    if_exists="replace",  
    index=False
)

120

In [104]:
order_items.head()
order_items.info()
order_items.isna().sum()
order_items.duplicated().sum()   
order_items["order_id"].is_unique
order_items["product_id"].is_unique

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   order_id    120 non-null    int64
 1   product_id  120 non-null    int64
 2   quantity    120 non-null    int64
 3   unit_price  120 non-null    float64
 4   discount    120 non-null    float64
dtypes: float64(2), int64(3)
memory usage: 4.8 KB

True

In [105]:
pd.read_sql("PRAGMA table_info(order_items);", conn)

   cid        name     type  notnull dflt_value  pk
0    0    order_id  INTEGER        0       None   0
1    1  product_id  INTEGER        0       None   0
2    2    quantity  INTEGER        0       None   0
3    3  unit_price     REAL        0       None   0
4    4    discount     REAL        0       None   0

In [52]:
import pandas as pd
import numpy as np

products = pd.read_csv(
    "../01_ecommerce_ops_analytics/data/raw/products.csv"
)

products.head()
products.info()
products.isna().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   product_id    120 non-null    int64
 1   product_name  120 non-null    object
 2   category      120 non-null    object
 3   unit_price    120 non-null    float64
dtypes: float64(1), int64(1), object(2)
memory usage: 3.9+ KB

product_id      0
product_name    0
category        0
unit_price      0
dtype: int64

In [53]:
products.columns = (
    products.columns
    .str.strip()
    .str.lower()
    .str.replace(" ", "_")
)

In [54]:
str_cols = products.select_dtypes(include="object").columns
products[str_cols] = products[str_cols].apply(lambda col: col.str.strip())

In [55]:
products["category"].unique()

array(['Electronics', 'Beauty', 'Grocery', 'Sports', 'Toys', 'Home'],
      dtype=object)

In [56]:
products["product_id"].is_unique

True

In [57]:
products.duplicated(subset=["product_name"]).sum()

np.int64(0)

In [58]:
products["unit_price"].describe()

count    120.000000
mean     124.120333
std      101.782716
min        6.310000
25%       46.742500
50%       98.325000
75%      172.657500
max      458.780000
Name: unit_price, dtype: float64

In [59]:
(products["category"].str.strip() == "").sum()

np.int64(0)

In [60]:
products.to_csv(
    "../01_ecommerce_ops_analytics/data/processed/products_cleaned.csv", 
    index=False
)

In [61]:
import pandas as pd
import numpy as np

products =pd.read_csv(
    "../01_ecommerce_ops_analytics/data/processed/products_cleaned.csv"
)

products.head()
products.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   product_id    120 non-null    int64
 1   product_name  120 non-null    object
 2   category      120 non-null    object
 3   unit_price    120 non-null    float64
dtypes: float64(1), int64(1), object(2)
memory usage: 3.9+ KB

In [62]:
import sqlite3
conn = sqlite3.connect(
    "../01_ecommerce_ops_analytics/data/processed/ecommerce_ops.db")

In [63]:
products.to_sql(
    "products",     
    conn, 
    if_exists="replace",  
    index=False
)

120

In [64]:
products.head()
products.info() 
products.isna().sum()
products["category"].is_unique
products["product_id"].is_unique

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   product_id    120 non-null    int64
 1   product_name  120 non-null    object
 2   category      120 non-null    object
 3   unit_price    120 non-null    float64
dtypes: float64(1), int64(1), object(2)
memory usage: 3.9+ KB

True

In [65]:
import pandas as pd
import numpy as np

returns = pd.read_csv(
    "../01_ecommerce_ops_analytics/data/raw/returns.csv"
)

returns.head()
returns.info()
returns.isna().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 371 entries, 0 to 370
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   return_id      371 non-null    int64
 1   order_id       371 non-null    int64
 2   product_id     371 non-null    int64
 3   return_date    371 non-null    object
 4   reason         371 non-null    object
 5   refund_amount  371 non-null    float64
dtypes: float64(1), int64(3), object(2)
memory usage: 17.5+ KB

return_id        0
order_id         0
product_id       0
return_date      0
reason           0
refund_amount    0
dtype: int64

In [66]:
returns.columns = (
    returns.columns
    .str.strip()
    .str.lower()
    .str.replace(" ", "_")
)

In [67]:
str_cols = returns.select_dtypes(include="object").columns
returns[str_cols] = returns[str_cols].apply(lambda col: col.str.strip())

In [68]:
returns["return_date"] = pd.to_datetime(returns["return_date"], errors="coerce")

In [69]:
returns.drop_duplicates(subset=["return_id"], inplace=True)
returns.drop_duplicates(subset=["order_id"], inplace=True)
returns.drop_duplicates(subset=["reason"], inplace=True)

In [70]:
returns.return_id.is_unique

True

In [71]:
returns.order_id.is_unique

True

In [72]:
returns.reason.is_unique

True

In [73]:
returns["refund_amount"] = pd.to_numeric(returns["refund_amount"], errors="coerce").astype("Float64")

In [74]:
returns.refund_amount > 0

0    True
1    True
2    True
3    True
6    True
Name: refund_amount, dtype: boolean

In [75]:
returns.refund_amount > 1000

0    False
1    False
2    False
3    False
6    False
Name: refund_amount, dtype: boolean

In [76]:
returns.to_csv(
    "../01_ecommerce_ops_analytics/data/processed/returns_cleaned.csv", 
    index=False
)

In [77]:
import pandas as pd
import numpy as np  

returns = pd.read_csv(
    "../01_ecommerce_ops_analytics/data/processed/returns_cleaned.csv"
)

returns.head()
returns.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   return_id      5 non-null      int64
 1   order_id       5 non-null      int64
 2   product_id     5 non-null      int64
 3   return_date    5 non-null      object
 4   reason         5 non-null      object
 5   refund_amount  5 non-null      float64
dtypes: float64(1), int64(3), object(2)
memory usage: 372.0+ bytes

In [78]:
import sqlite3
import pandas as pd

conn = sqlite3.connect("../01_ecommerce_ops_analytics/data/processed/ecommerce_ops.db")

In [79]:
returns.to_sql(
    "returns",     
    conn, 
    if_exists="replace",  
    index=False
)

5

In [80]:
returns.head()
returns.info()
returns.isna().sum()
returns.duplicated().sum()   
returns["return_id"].unique
returns["order_id"].unique
returns["reason"].unique

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   return_id      5 non-null      int64
 1   order_id       5 non-null      int64
 2   product_id     5 non-null      int64
 3   return_date    5 non-null      object
 4   reason         5 non-null      object
 5   refund_amount  5 non-null      float64
dtypes: float64(1), int64(3), object(2)
memory usage: 372.0+ bytes

<bound method Series.unique of 0       Not Needed
1        Defective
2    Late Delivery
3       Wrong Item
4          Damaged
Name: reason, dtype: object>

In [81]:
import pandas as pd
import numpy as np

shipments = pd.read_csv(
    "../01_ecommerce_ops_analytics/data/raw/shipments.csv"
)

shipments.head()
shipments.info()
shipments.isna().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2549 entries, 0 to 2548
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   shipment_id     2549 non-null   int64
 1   order_id        2549 non-null   int64
 2   warehouse       2549 non-null   object
 3   carrier         2549 non-null   object
 4   shipped_date    2549 non-null   object
 5   delivered_date  2093 non-null   object
dtypes: int64(2), object(4)
memory usage: 119.6+ KB

shipment_id         0
order_id            0
warehouse           0
carrier             0
shipped_date        0
delivered_date    456
dtype: int64

In [82]:
shipments.columns = (
    shipments.columns
    .str.strip()
    .str.lower()
    .str.replace(" ", "_")
)

In [83]:
str_cols = shipments.select_dtypes(include="object").columns
shipments[str_cols] = shipments[str_cols].apply(lambda col: col.str.strip())

In [84]:
shipments["shipped_date"] = pd.to_datetime(shipments["shipped_date"], errors="coerce")
shipments["delivered_date"] = pd.to_datetime(shipments["delivered_date"])

In [85]:
shipments.shipment_id.is_unique

True

In [86]:
shipments["order_id"] = pd.to_numeric(shipments["order_id"], errors="coerce").astype("Int64")

In [87]:
shipments.delivered_date < shipments.shipped_date

0       False
1       False
2       False
3       False
4       False
        ...
2544    False
2545    False
2546    False
2547    False
2548    False
Length: 2549, dtype: bool

In [88]:
shipments.duplicated().sum()

np.int64(0)

In [89]:
shipments.carrier.unique()

array(['UPS', 'FedEx', 'DHL', 'USPS'], dtype=object)

In [90]:
shipments.to_csv(
    "../01_ecommerce_ops_analytics/data/processed/shipments_cleaned.csv", 
    index=False
)

In [91]:
shipments = pd.read_csv(
    "../01_ecommerce_ops_analytics/data/processed/shipments_cleaned.csv"
)

shipments.head()
shipments.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2549 entries, 0 to 2548
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   shipment_id     2549 non-null   int64
 1   order_id        2549 non-null   int64
 2   warehouse       2549 non-null   object
 3   carrier         2549 non-null   object
 4   shipped_date    2549 non-null   object
 5   delivered_date  2093 non-null   object
dtypes: int64(2), object(4)
memory usage: 119.6+ KB

In [92]:
import sqlite3  
import pandas as pd

conn = sqlite3.connect(
    "../01_ecommerce_ops_analytics/data/processed/ecommerce_ops.db")

In [93]:
shipments.to_sql(
    "shipments",     
    conn, 
    if_exists="replace",  
    index=False
)

2549

In [94]:
shipments.head()
shipments.info()
shipments.isna().sum()
shipments.duplicated().sum()   
shipments["shipment_id"].unique()
shipments["carrier"].unique()
shipments["warehouse"].unique()
(shipments["delivered_date"] < shipments["shipped_date"]).sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2549 entries, 0 to 2548
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   shipment_id     2549 non-null   int64
 1   order_id        2549 non-null   int64
 2   warehouse       2549 non-null   object
 3   carrier         2549 non-null   object
 4   shipped_date    2549 non-null   object
 5   delivered_date  2093 non-null   object
dtypes: int64(2), object(4)
memory usage: 119.6+ KB

np.int64(0)