In [23]:
import sqlite3
import pandas as pd

conn = sqlite3.connect("../01_ecommerce_ops_analytics/data/processed/customers.db")

In [24]:
query = """
SELECT
    customer_id,
    first_name,
    last_name,
    total_orders,
    total_spent
FROM customers
ORDER BY total_spent DESC
LIMIT 5;
"""

top_customers = pd.read_sql(query, conn)
top_customers

   customer_id first_name last_name  total_orders  total_spent
0           33      Kayla    Wright            22      5198.24
1            4     Sierra  Anderson            20      4473.08
2           71    Aaliyah   Johnson            17      4114.53
3           65     Jordan     Davis            20      3879.64
4           14      Tiana    Taylor            23      3798.53

In [25]:
import sqlite3
import pandas as pd

conn = sqlite3.connect("../01_ecommerce_ops_analytics/data/processed/inventory.db")

In [27]:
query = """
SELECT
    product_id, 
    on_hand, 
    reorder_point
    last_restock_date
FROM inventory
ORDER BY on_hand DESC
LIMIT 5;

"""

on_hand_inventory = pd.read_sql(query, conn)
on_hand_inventory

DatabaseError: Execution failed on sql '
SELECT
    product_id,
    on_hand,
    reorder_point
    last_restock_date
FROM inventory
ORDER BY on_hand DESC
LIMIT 5;

': no such table: inventory